.Rproj.user/*
data/raw/MOSC/20231005/*
data/backup_files/2023_01/IntermediateFiles/*
keys/*
.Rhistory
data/temp/*
.Rproj.user
data/raw/RAIS/*
backup_files/2023_01/output_files/tb_area_atuacao_teste2.RDS
/backup_files
/keys
/data/raw
/tab_auxiliares/latlon_enderecos
/development_zone
